body {
  background-color: #000a;
  display: flex;
  /* align-content: space-around; */
  justify-content: center;
  min-height: 90vh;
  flex-wrap: wrap;
}
.h1 {
  font-size: 8vw;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;
  color: #fffd;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000,
    3px 2px 5px #0008;
}
.fondo {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
  opacity: 50%;
  filter: contrast(1.5) saturate(1.5) blur(20px);
}
.personajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  width: 85%;
  align-content: center;
}
.personaje {
  display: flex;
  flex-wrap: wrap;
  width: calc(85% / 9.5);
  min-width: 90px;
  flex-grow: 1;
  transition: 1s;
  margin-top: 10px;
  border-radius: 20px;
  padding: 0.5rem 0;
  box-shadow: 2px 3px 8px #000a;
  backdrop-filter: blur(10px);
  justify-content: center;
}
.personaje:hover {
  scale: 1.05;
  box-shadow: 2px 3px 16px #000d;
  backdrop-filter: saturate(2);
}
.tanque {
  background-color: #eae40488;
  border: solid #eae40499 4px;
}
.agresor {
  background-color: #ec000088;
  border: solid #ec000099 4px;
}
.dinamico {
  background-color: #46cdd188;
  border: solid #46cdd199 4px;
}
.protector {
  background-color: #52db0088;
  border: solid #52db0099 4px;
}
.tecnico {
  background-color: #b407ec88;
  border: solid #b407ec99 4px;
}

.personaje__checkbox {
  display: none;
}
.personaje__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  transition: 0.5s;
  height: 100%;
}

.personaje__img {
  filter: drop-shadow(0 0 3px black);
  object-fit: cover;
  object-position: 50% 0%;
  width: 100%;
  height: 11vmin;
  /* min-height: 12vmin; */
}

.personaje__name {
  font-style: oblique;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 900;
  margin: 0;
  color: #000b;
  margin-top: 3px;
  /* text-shadow: 1px 2px 5px #0005; */
}
.seleccionado {
  filter: brightness(0.5) saturate(0);
}
.habilidades {
  font-size: 0.75rem;
  font-weight: 100;
  margin: 0;
}
.funciones {
  flex-grow: 50;
  position: relative;
  min-width: 250px;
}
.funciones__button {
  min-width: 100px;
  background-color: #fff8;
  border: solid 4px #fff9;
  border-radius: 20px;
  color: #000c;
  margin-right: 1rem;
  font-style: oblique;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  line-height: 100%;
  margin-bottom: 10px;
}
.seleccionados {
  background-color: #0008;
  border: solid 4px #0009;
  box-shadow: 2px 3px 8px #000a;
  border-radius: 20px;
  color: white;
  font-style: oblique;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 900;
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  backdrop-filter: blur(20px);
}

ul,
li {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

li {
  font-weight: 400;
  font-size: 1.3rem;
}
h2 {
  padding: 0;
  margin: 10px;
}

@media (max-width: 1400px) {
  .personaje__name {
    font-size: 1.1rem;
  }

  .funciones__button {
    border: solid 3px #fff9;
    margin-right: 1rem;
    font-style: oblique;
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .personaje__name {
    font-size: 1rem;
  }
  .personaje {
    flex-grow: 0;
  }
  .personajes {
    margin: 0.5rem;
    justify-content: center;
  }
}

body {
  background-image: url("../img/82141584ad30b7897a17f4354b7c880e4a9a157dr1-480-270_00.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
